<div class="sider">
    <div class="table_warp">
        <table>
            <tbody>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                  </tr>
                  <tr>
                    <td>Location (Extent)</td>
                    <td>8.64962, 50.20362 to 8.66937, 50.28473</td>
                  </tr>
                  <tr>
                    <td>Identifier</td>
                    <td>V0FSTklOR19fbWRtLnZpel9fTE1TL3JfTE1TLzY4NTI2MV9MTVMtSEUvNTQuMA==</td>
                  </tr>
                  <tr>
                    <td>Start Time</td>
                    <td>31.12.2023 23:48</td>
                  </tr>
                  <tr>
                    <td>Details</td>
                    <td>1 unbeleuchtetes Fahrzeug on the Standstreifen</td>
                  </tr>
                  <tr>
                    <td>Coordinates of the Incident</td>
                    <td>Latitude: 50.284730, Longitude: 8.669370</td>
                  </tr>
                  <tr>
                    <td>Icon</td>
                    <td>101</td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>200</td>
                  </tr>
            </tbody>

        </table>
    </div>

</div>