<div class="sider">
    <div class="table_wrap">
      <table>
        <tbody>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
          <tr *ngFor="let station of Stations">
            <td>Identifier</td>
            <td>{{ station.data.identifier }}</td>
          </tr>
          <tr *ngFor="let station of Stations">
            <td>Title</td>
            <td>{{ station.data.title }}</td>
          </tr>
          <tr *ngFor="let station of Stations">
            <td>Subtitle</td>
            <td>{{ station.data.subtitle }}</td>
          </tr>
          <tr *ngFor="let station of Stations">
            <td>Details</td>
            <td>{{ station.data.description?.[4] }}</td>
          </tr>
          <tr *ngFor="let station of Stations">
            <td>Coordinates of the Incident</td>
            <td>Latitude: {{ station.data.coordinate.lat }}, Longitude: {{ station.data.coordinate.long }}</td>
          </tr>
          <tr *ngFor="let station of Stations">
            <td>Icon</td>
            <td>{{ station.data.icon }}</td>
          </tr>
          <tr *ngFor="let station of Stations">
            <td>Status</td>
            <td>{{ station.isBlocked === 'true' ? 'Blocked' : 'Not Blocked' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  