.popup-overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.popup-container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 400px;
  overflow-y: scroll;
}

.popup-container::-webkit-scrollbar {
  width: 6px;
}
.popup-container::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
.popup-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.popup-header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 10px 0px;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .popup-container {
    max-width: 100%;
  }
}

.popup-content {
  margin-top: 15px;
}

.popup-content h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.popup-content h4 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.popup-content p {
  margin: 0;
}

.popup-content a {
  color: #4285f4;
}
