.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: x-small;
    padding-bottom: 15px;
    text-shadow: -5px -1px 12px #939393;
}
