<div class="dropdown">
  <select name="Citys" id="" [(ngModel)]="selectedRoad" (ngModelChange)="onSelectedRoadChange()">
    <option value="">--Select Roads--</option>
    <option *ngFor="let drp of heyWaysData" [value]="drp">{{ drp }}</option>
  </select>
</div>

<google-map height="100vh" width="100%" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event, true)">
  <map-marker *ngFor="let MarkerPosition of MarkerPositions" [position]="MarkerPosition" [options]="MarkerOptions"
    (mapClick)="togglePopup(MarkerPosition)"></map-marker>
</google-map>
<app-popup [isVisible]="isPopupVisible" [selectedToggleData]="selectedToggleData"></app-popup>