app-mapsider {
  height: 100%;
  width: 50%;
}

.map {
  height: 100%;
  width: 100%;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }
  app-mapsider {
    width: 100%;
  }
}


@media (max-width: 767px) {
  .layout {
    flex-direction: column;
  }
  app-mapsider {
    width: 100%;
  }
}