<div class="side-nav">
    <div class="sider-header"><button><i class="bi bi-three-dots"></i></button></div>
    <div class="menu-items">
        <button routerLink="/" routerLinkActive="active"><i class="bi bi-stoplights"></i></button>
        <button routerLink="/webcam" routerLinkActive="active"><i class="bi bi-webcam"></i></button>
        <button routerLink="/parking" routerLinkActive="active"><i class="bi bi-p-square"></i></button>
        <button routerLink="/charging" routerLinkActive="active"><i class="bi bi-ev-station"></i></button>
        <button routerLink="/construction" routerLinkActive="active"><i class="bi bi-cone-striped"></i></button>
        <button routerLink="/warning" routerLinkActive="active"><i class="bi bi-exclamation-diamond"></i></button>
    </div>
</div>
