.side-nav{
    width: 85px;
    position: fixed;
    z-index: 2;
    left: 0;
    background: #dadce0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sider-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
button{
  background-color: #f1f1f1;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
button:hover{
  background-color: #1a73e891;
}
button img{
  width:25px;
}
img{
    width: 65%;
}
