<div class="side-nav">
    <div class="menu-items">
        <button routerLink="/" routerLinkActive="active"><img src="../../assets/icons/traffic.svg" alt="" srcset=""></button>
        <button routerLink="/webcam" routerLinkActive="active"><img src="../../assets/icons/webcam.svg" alt="" srcset=""></button>
        <button routerLink="/parking" routerLinkActive="active"><img src="../../assets/icons/parking.svg" alt="" srcset=""></button>
        <button routerLink="/charging" routerLinkActive="active"><img src="../../assets/icons/charging.svg" alt="" srcset=""></button>
        <button routerLink="/construction" routerLinkActive="active"><img src="../../assets/icons/construction.svg" alt="" srcset=""></button>
        <button routerLink="/warning" routerLinkActive="active"><img src="../../assets/icons/warning.svg" alt="" srcset=""></button>
    </div>
    <div>
        <p-button icon="pi pi-arrow-left" [rounded]="true" severity="secondary" [outlined]="true"></p-button>
    </div>
</div>
