<div class="side-nav">
    <div class="menu-items">
        <button routerLink="/" routerLinkActive="active"><img src="../../assets/icons/icons8-traffic-light-96.png" alt="" srcset=""></button>
        <button routerLink="/webcam" routerLinkActive="active"><img src="../../assets/icons/icons8-webcam-64.png" alt="" srcset=""></button>
        <button routerLink="/parking" routerLinkActive="active"><img src="../../assets/icons/icons8-parking-lot-100.png" alt="" srcset=""></button>
        <button routerLink="/charging" routerLinkActive="active"><img src="../../assets/icons/icons8-charge-64.png" alt="" srcset=""></button>
        <button routerLink="/construction" routerLinkActive="active"><img src="../../assets/icons/icons8-construction-100.png" alt="" srcset=""></button>
        <button routerLink="/warning" routerLinkActive="active"><img src="../../assets/icons/icons8-warning-100.png" alt="" srcset=""></button>
    </div>
    <div>
        <p-button icon="pi pi-arrow-left" [rounded]="true" severity="secondary" [outlined]="true"></p-button>
    </div>
</div>